
therapy-app-backend/.vs/therapy-app-backend/v17/.suo
therapy-app-backend/.vs/therapy-app-backend/v17/.suo
therapy-app-backend/therapy-app-backend/bin/Debug/net6.0/therapy-app-backend.dll
therapy-app-backend/therapy-app-backend/obj/staticwebassets.pack.sentinel
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.pdb
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.dll
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.csproj.CoreCompileInputs.cache
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.assets.cache
therapy-app-backend/therapy-app-backend/bin/Debug/net6.0/therapy-app-backend.pdb
therapy-app-backend/.vs/therapy-app-backend/v17/.suo
therapy-app-backend/therapy-app-backend/bin/Debug/net6.0/therapy-app-backend.dll
therapy-app-backend/therapy-app-backend/obj/staticwebassets.pack.sentinel
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.pdb
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.dll
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.csproj.CoreCompileInputs.cache
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.assets.cache
therapy-app-backend/therapy-app-backend/bin/Debug/net6.0/therapy-app-backend.pdb
therapy-app-backend/.vs/therapy-app-backend/v17/.suo
therapy-app-backend/.vs/therapy-app-backend/v17/.suo
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.assets.cache
therapy-app-backend/therapy-app-backend/bin/Debug/net6.0/therapy-app-backend.dll
therapy-app-backend/therapy-app-backend/bin/Debug/net6.0/therapy-app-backend.pdb
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.csproj.CoreCompileInputs.cache
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.dll
therapy-app-backend/therapy-app-backend/obj/Debug/net6.0/therapy-app-backend.pdb
therapy-app-backend/therapy-app-backend/obj/staticwebassets.pack.sentinel
